Client/Connected Services/PlaybuhService/BuisnessLogic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuisnessLogic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceNetwork_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLogic.Model" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DevExpress.Mvvm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNetwork_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IServiceNetwork_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNetwork_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceNetwork_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNetwork_RemoveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceNetwork_RemoveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNetwork_ChangeEmployeeFullName_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployeeFullName" />
  </wsdl:message>
  <wsdl:message name="IServiceNetwork_ChangeEmployeeFullName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployeeFullNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNetwork">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNetwork/GetEmployees" message="tns:IServiceNetwork_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNetwork/GetEmployeesResponse" message="tns:IServiceNetwork_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNetwork/AddEmployee" message="tns:IServiceNetwork_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNetwork/AddEmployeeResponse" message="tns:IServiceNetwork_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNetwork/RemoveEmployee" message="tns:IServiceNetwork_RemoveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNetwork/RemoveEmployeeResponse" message="tns:IServiceNetwork_RemoveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployeeFullName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNetwork/ChangeEmployeeFullName" message="tns:IServiceNetwork_ChangeEmployeeFullName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNetwork/ChangeEmployeeFullNameResponse" message="tns:IServiceNetwork_ChangeEmployeeFullName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceNetwork" type="tns:IServiceNetwork">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceNetwork_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://tempuri.org/IServiceNetwork/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/IServiceNetwork/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <soap12:operation soapAction="http://tempuri.org/IServiceNetwork/RemoveEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployeeFullName">
      <soap12:operation soapAction="http://tempuri.org/IServiceNetwork/ChangeEmployeeFullName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuisnessLogic">
    <wsdl:port name="NetTcpBinding_IServiceNetwork" binding="tns:NetTcpBinding_IServiceNetwork">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-4J54594\Vadim</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>